{% extends 'base.html.twig' %}

{% block title %}Hello MagasinController!
{% endblock %}

{% block body %}
<div class="example-wrapper">
	<link href="{{ asset('css/articles.css') }}" rel="stylesheet"/>

	{% for rayon in rayons %}
		<div class="card">
			<h4 class="title">
				<a href="{{ path('app_rayon', {magasin: magasin.id}, {rayon:rayon}) }}">{{ magasin.nom }}</a>
			</h4>
		</div>
		<div class="card-body">
			<p>{{ magasin.adresse }}</p>
		</div>
	</a>
</div>{% endfor %}</div>{% endblock %}
